@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		background: theme("colors.background");
		color: theme("colors.foreground");
		font-family: theme("fontFamily.body");
	}
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	@apply bg-primary;
}
