@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		background: theme("colors.background");
		color: theme("colors.foreground");
		font-family: theme("fontFamily.body");
	}
}
